html {
    font-family: Bookman, URW Bookman L, serif;
    color: rgb(76, 75, 75);
    background: #ffbfd4;
    padding: 1rem;
}

body {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: white;
    font-family: Luminari, fantasy;
    margin: 1rem 0;
    text-align: left;
}

a {
    color: CornflowerBlue;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: #ffbfd4;
    padding: 0 0.5rem;
    border-radius: 25px;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0.25rem 0.5rem;
    background: #EC7699;
    border-radius: 25px;
}

.flash {
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}
